<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks page</title>
</head>
<body>
    <div th:each="task: ${tasks}">
        <h4 th:text="${task.title}">title</h4>
        <p th:text="${task.description}">description</p>
        <p>
            <b th:text="${task.createdAt}"></b> -
            <b th:text="${task.targetDate}"></b>
        </p>
        <input type="checkbox" th:checked="${task.isDone}">
        <hr>
    </div>
</body>
</html>